


.container{
  width: 100%;

  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #24292f;
    width: 100%;
    height: 50px;
    
    svg{
      width: 30px;
      height: 30px;
      color: white;
    }

    .search_data{
      position: relative;
      display: flex;
      gap: 20px;


      .search_input{
        padding: 7px;
        width: 30;
        height: 23px;
        border-radius: 7px;
        border: none;
        background: none;
        outline: none;
        border: solid 1px gray;
        color: white;
      }
    }


    .dark_mode_btn{
      display: none;
    }

  }
  .search_result_data{
    display: flex;
    width: 100%;   
    

    
    
    ul{
      position: absolute;
      top: 32px;
      padding: 0;
      background-color: #24292f;
      z-index: 5;
      height: 20rem;
      overflow-x: hidden;
      // width: 100%;

      

      li{
        cursor: pointer;
        list-style: none;
        padding: 10px;
        transition: .2s;
        padding: 20px;
          

        &:hover{
          background-color: #0091ff;
        }

        a{
          text-decoration: none;
          color: rgb(255, 255, 255);
          transition: .1s;
        }
      }
    }
    ul::-webkit-scrollbar{
      width: 20px;
    }
    ul::-webkit-scrollbar-track{
      background: transparent;
    }
    ul::-webkit-scrollbar-thumb{
      background-color: #4c95d1;
      border-radius: 20px;
      background-clip: content-box;
      border: 6px solid transparent;
    }
  }

  .dropdown_menu{
    position: absolute;
    top: 60px;
    right: 1px;
    z-index: 99;
    background-color: rgb(83, 83, 83);
    border-radius: 25px;
    padding: 10px 20px;
    width: 200px;

    .ORPP_list{
      position: relative;
      display: grid;
      justify-content: center;
      align-items: center;

      li{
        position: relative;
        list-style: none;
        padding: 5px 0 ;

  
  
        a{
          gap: 10px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color:rgb(255, 255, 255);
          cursor: pointer;
          padding: 10px ;
          bottom: 10px;

          &:hover{
            background-color: rgba(128, 128, 128, 0.549);
            border-radius: 7px;
            color: white;
          }
        }
      }
    }

    &.active{
      display: flex;
      align-items: center;
      gap: 20px;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all .3s ease;

    }

    &.inactive{
      display: flex;
      align-items: center;
      gap: 20px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all .3s ease;

    }
  }
}


@media(min-width:768px){
  .container{
    width: 100%;

    .row{
      justify-content: start;
      align-items: center;
      background-color: #24292f;
      width: 100%;
      height: 70px;
      gap: 20px;
      
      
      svg{
        width: 50px;
        height: 50px;
        margin-left: 20px;
        color: white;
      }
  
      .search_data{
        position: relative;
        display: flex;
        gap: 20px;
  
  
        .search_input{
          padding: 7px;
          width: 330px;
          height: 33px;
          border-radius: 7px;
          border: none;
          background: none;
          outline: none;
          border: solid 1px gray;
          color: white;
        }
      }

      .dark_mode_btn{
        display: block;
      }

      .menu_data{
        display: none;
      }
      
  
    }

    .search_result_data{
      display: flex;
      width: 100%;   
      
      ul{
        position: absolute;
        top: 52px;
        padding: 0;
        background-color: #24292f;
        z-index: 5;
        height: 20rem;
        overflow-x: hidden;
  
        
  
        li{
          cursor: pointer;
          list-style: none;
          padding: 10px;
          transition: .2s;
          // border: solid 1px black;
          padding: 20px;
  
          &:hover{
            background-color: #0091ff;
          }
  
          a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: .1s;
          }
        }
      }
      ul::-webkit-scrollbar{
        width: 20px;
      }
      ul::-webkit-scrollbar-track{
        background: transparent;
      }
      ul::-webkit-scrollbar-thumb{
        background-color: #4c95d1;
        border-radius: 20px;
        background-clip: content-box;
        border: 6px solid transparent;
      }
    }

    
    .menu_none{
      display: none;
    }
  }
}

@media screen and (min-width:1850px) {
  .container{
    width: 1850px;
    margin: auto;
  }
}