.stars_data{
  padding: 15px;
  
  .name_stars_data{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .stars_number_data{
    border-bottom: solid 1px rgba(128, 128, 128, 0.539);
  }

  .dropdown_menu_data{
    position: relative;
    
    .dropdown_menu{
      position: absolute;
      top: 1.5rem;
      right: 1px;
      z-index: 99;
      background-color: rgb(180, 180, 180);
      border-radius: 5px;
      padding: 10px 20px;
      width: 200px;
  
      &.active{
        display: flex;
        align-items: center;
        gap: 20px;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all .3s ease;
  
        .image{
          border-radius: 50%;
          width: 60px;
        }
      }
  
      &.inactive{
        display: flex;
        align-items: center;
        gap: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all .3s ease;
  
        .image{
          border-radius: 50%;
          width: 60px;
        }
      }
    
    }
  }

}