.container{

  .repositories_data{

    .followers_data{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;
      padding: 10px 20px;


      .img_name_data{
        display: flex;
        align-items: center;
        gap: 20px;

        .followers_img{
          width: 50px;
          border-radius: 50%;
        }
    
        .followers_name{
          display: flex;
        }
      }

    }
  }
}

@media screen and (max-width:1824px) {
  .container{
    width: 100%;
  }
}